.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 5rem;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}
.left-h{
    padding: 2rem;
    padding-top:1.5rem;
    flex:3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.right-h{
    flex: 1;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;

}
.the-best-add{
   margin-top: 4rem;
   background-color: #363d42; 
}
